<%inherit file="worldofbeer.html" />

<div id="content" class="beers">
  This is just a placeholder page....
  Under construction.
  <table id="beerCrate" class="selectaBeer">
    <tr>
      <td class="country">
        <img class="flag" src="/wob/australia.png"/>
        <div class="name">Australia</div>
      </td>
      <td class="beer">
        <div class="name">Victoria Bitter</div>
        <div class="description">Xxxx, bla bla bla</div>
      </td>
      <td class="rating">
        <div class="myRating">* * *</div>
        <div class="avgRating">* * *</div>
      </td>
    <tr> </tr>
      <td class="country">
        <img class="flag" src="/wob/canada.png"/>
        <div class="name">Canada</div>
      </td>
      <td class="beer">
        <div class="name">Upper Canada Dark</div>
        <div class="description">A malty beer, bla bla bla</div>
      </td>
      <td class="rating">
        <div class="myRating">* * * *</div>
        <div class="avgRating">* * *</div>
      </td>
    <tr> </tr>
      <td class="country">
        <img class="flag" src="/wob/new-zealand.png"/>
        <div class="name">New Zealand</div>
      </td>
      <td class="beer">
        <div class="name">Monteiths Original</div>
        <div class="description">A nice beer, bla bla bla</div>
      </td>
      <td class="rating">
        <div class="myRating">* * * * * *</div>
        <div class="avgRating">* * * * *</div>
      </td>
    <tr> </tr>
    <tr> </tr>
      <td class="country">
        <img class="flag" src="/wob/papua-new-guinea.png"/>
        <div class="name">Papua New Guinea</div>
      </td>
      <td class="beer">
        <div class="name">PNG Beer</div>
        <div class="description">bla bla bla</div>
      </td>
      <td class="rating">
        <div class="myRating">* * * * * *</div>
        <div class="avgRating">* * * * *</div>
      </td>
    <tr> </tr>
    </tr>
  </table>
</div>

