<%inherit file="worldofbeer.html" />

<div id="content" class="country">
<h1>${country.name}</h1>


<div class="details">
  <div>${form.flag.label}: <img src="${'%s/flag.png' % request.path}"  /></div>
  <div>${form.description.label}: ${country.description}</div>
  <div>${form.map.label}: <img src="${'%s/map.png' % request.path}"  /></div>
  <div>${form.capital.label}: ${country.capital}</div>
  <div>${form.area.label}: ${country.area}</div>
  <div>${form.population.label}: ${country.population}</div>
  <div>${form.perCapBeer.label}: ${country.perCapBeer}</div>
  <div>${form.totBeer.label}: ${country.totBeer}</div>
  <div>${form.languages.label}: ${country.languages}</div>
  <div>${form.climate.label}: ${country.climate}</div>
  <div>${form.agriculture.label}: ${country.agriculture}</div>
  <div>${form.industry.label}: ${country.industry}</div>
  <div>${form.government.label}: ${country.government}</div>
  <div>${form.borders.label}: ${country.borders}</div>
</div>
</div>

<div style="height: 120px"></div>

