## Dynamically preview images before saving them
## http://valums.com/ajax-upload/
## http://www.zurb.com/playground/ajax_upload
## http://ohryan.ca/blog/2011/06/28/how-to-file-upload-progress-bar-no-flash-no-php-addons
<%def name="head()">
  <script type="text/javascript" src="/wob/fileuploader.js"></script>
</%def>

<%def name="image(field, path, width=100, height=100)">
<script type="text/javascript">
  <% name = field.name %>
  $(function() {
    var button = $('#${name}Button');
    var thumb  = $('#${name}Button img.thumb');	
    var uploader = new qq.FileUploaderBasic({
      button:   $('#${name}Button')[0],
      id:       '${name}',
      name:     '${name}',
      params:   { 'previewId': '${path}/${name}.png' },
      action:   '/preview',
      debug:    false,
      multiple: false,
      allowedExtensions: ['png'],
      onSubmit: function(id, fileName) {
        button.addClass('loading');
      },
      onComplete: function(id, fileName, response) {
        thumb.load(function() {
          button.removeClass('loading qq-upload-button-hover qq-upload-button-focus');
          thumb.unbind();
        });
        var previewId = response['previewId'];
        var now = new Date();
        var secsSinceEpoch = Math.floor(now.getTime()/1000);
        $('#${name}Preview').val(previewId);
        thumb.attr('src', '/preview/'+secsSinceEpoch+previewId);
      }
    });
    var dz = new qq.UploadDropZone({
      element: button[0],
      onEnter: function(e){
        button.addClass('qq-upload-drop-area-active');
        e.stopPropagation();
      },
      onLeave: function(e){
        e.stopPropagation();
      },
      onLeaveNotDescendants: function(e){
        button.removeClass('qq-upload-drop-area-active');
      },
      onDrop: function(e){
        button.removeClass('qq-upload-drop-area-active');
        uploader._uploadFile(e.dataTransfer.files[0]);
      }
    });
  });
</script>
<div id="${name}Button" class="qq-upload-button"
     style="width: ${width}px; height: ${height}px;">
  %if field.data:
    <img class="thumb" src="${path}/${name}.png" />
  %else:
    <img class="thumb" src="/wob/empty-${name}.png" />
  %endif
</div>
<input id="${name}Preview" name="${name}Preview" type="hidden" />
<noscript>
  <input id="${name}" name="${name}" type="file" class="oldSchool" />
</noscript>
</%def>
