## Dynamically preview images before saving them
## http://valums.com/ajax-upload/
## http://www.zurb.com/playground/ajax_upload
## http://ohryan.ca/blog/2011/06/28/how-to-file-upload-progress-bar-no-flash-no-php-addons
<%def name="head()">
  <script type="text/javascript" src="/wob/fileuploader.js"></script>
</%def>

<%def name="image(field, width=100, height=100)">
<script type="text/javascript">
  <% name = field.name %>
  $(function() {
    var button = $('#${name}Button');	
    var thumb = $('#${name}Button img.thumb');	
    new qq.FileUploaderBasic({
      button:   $('#${name}Button')[0],
      id:       '${name}',
      name:     '${name}',
      action:   '/preview',
      debug:    false,
      multiple: false,
      allowedExtensions: ['png'],
      onSubmit: function(id, fileName) {
        button.addClass('loading');
      },
      onComplete: function(id, fileName, response) {
        thumb.load(function() {
          button.removeClass('loading qq-upload-button-hover qq-upload-button-focus');
          thumb.unbind();
        });
        thumb.attr('src', response['url']);
      }
    });
  });           
</script>
<div id="${name}Button" class="qq-upload-button"
     style="width: ${width}px; height: ${height}px;">
  %if field.data:
    <img class="thumb" src="${request.path}/${name}.png" />
  %else:
    <img class="thumb" src="/wob/empty-${name}.png" />
  %endif
  <div class="qq-upload-drop-area"></div>
</div>

</%def>
